<a href="https://colab.research.google.com/github/jindu94/TaiwoRepo/blob/master/pandasProperly.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PANDAS PROPERLY âš›

In [ ]:
import pandas as pd
import numpy as np
g7_pop = pd.Series([35.467, 63.951, 80.940, 60.665, 127.061, 64.511, 318.523],
                   name = 'G7 Population in millions')

In [ ]:
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 Population in millions, dtype: float64

In [ ]:
g7_pop.dtype

dtype('float64')

In [ ]:
g7_pop.values

array([ 35.467,  63.951,  80.94 ,  60.665, 127.061,  64.511, 318.523])

In [ ]:
type(g7_pop.values)

numpy.ndarray

In [ ]:
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 Population in millions, dtype: float64

In [ ]:
g7_pop[0]

35.467

In [ ]:
g7_pop.index

RangeIndex(start=0, stop=7, step=1)

In [ ]:
g7_pop.index = [
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States'






]

In [ ]:
g7_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [ ]:
pd.Series( g7_pop, index = ['Nigeria','France','Germany','Spain'], name = 'Good Nations')

Nigeria       NaN
France     63.951
Germany    80.940
Spain         NaN
Name: Good Nations, dtype: float64

In [ ]:
p = g7_pop

In [ ]:
p

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [ ]:
p['Canada':'Italy'].mean()

60.25575

In [ ]:
p.iloc[:3]

Canada     35.467
France     63.951
Germany    80.940
Name: G7 Population in millions, dtype: float64

In [ ]:
p

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [ ]:

p > 70

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: G7 Population in millions, dtype: bool

In [ ]:
p[p<70].mean()

56.1485

In [ ]:
p[p!=70]

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [ ]:
p[p!=70].mean()

107.30257142857144

~ not , | or , & and

In [ ]:
p > 80

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: G7 Population in millions, dtype: bool

In [ ]:
p[p > 80]

Germany           80.940
Japan            127.061
United States    318.523
Name: G7 Population in millions, dtype: float64

In [ ]:
p[ (p > 60) & (p < 40) ]

Series([], Name: G7 Population in millions, dtype: float64)

In [ ]:
pd.Series()

<ipython-input-29-fa15c544da3b>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pd.Series()

Series([], dtype: float64)

In [ ]:
x = ['a', 'b' ,'c']
print(x, type(x))

['a', 'b', 'c'] <class 'list'>

In [ ]:
y = pd.Series(x)
print(y, type(y))

0    a
1    b
2    c
dtype: object <class 'pandas.core.series.Series'>

In [ ]:
p.all()

True

In [ ]:
p.any()

True

In [ ]:
p.sum()

751.118

In [ ]:
p.mean()

107.30257142857144

In [ ]:
p.max(), p.min()

(318.523, 35.467)

DATAFRAMES

In [ ]:
df = pd.DataFrame({
    'Population':[35.467, 63.951, 80.940, 60.665, 127.061, 64.511, 318.523],
    'GDP': [
        1785387,
        2833687, 
        3874437,
        2167744,
        4602367,
        2950039,
        17348075
    ],
    'Surface Area': [
        9984670,
        640679,
        357114,
        301336,
        377390,
        242495,
        9525067
    ],
    'HDI': [
        0.913,
        0.888,
        0.916,
        0.873,
        0.891,
        0.907,
        0.915   
        ],
        'Continent':[
            'America',
            'Europe',
            'Europe',
            'Europe',
            'Asia',
            'Europe',
            'America'
        ]} ,
        
        columns = ['Population', 'GDP', 'Surface Area', 'Continent']
        
        )

In [ ]:
df

   Population       GDP  Surface Area Continent
0      35.467   1785387       9984670   America
1      63.951   2833687        640679    Europe
2      80.940   3874437        357114    Europe
3      60.665   2167744        301336    Europe
4     127.061   4602367        377390      Asia
5      64.511   2950039        242495    Europe
6     318.523  17348075       9525067   America

In [ ]:
df.index =  [
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States'

]

In [ ]:
df

                Population       GDP  Surface Area Continent
Canada              35.467   1785387       9984670   America
France              63.951   2833687        640679    Europe
Germany             80.940   3874437        357114    Europe
Italy               60.665   2167744        301336    Europe
Japan              127.061   4602367        377390      Asia
United Kingdom      64.511   2950039        242495    Europe
United States      318.523  17348075       9525067   America

In [ ]:
df.corr()

              Population       GDP  Surface Area
Population      1.000000  0.990289      0.464555
GDP             0.990289  1.000000      0.533698
Surface Area    0.464555  0.533698      1.000000

In [ ]:
df.describe()

       Population           GDP  Surface Area
count    7.000000  7.000000e+00  7.000000e+00
mean   107.302571  5.080248e+06  3.061250e+06
std     97.249970  5.494020e+06  4.576239e+06
min     35.467000  1.785387e+06  2.424950e+05
25%     62.308000  2.500716e+06  3.292250e+05
50%     64.511000  2.950039e+06  3.773900e+05
75%    104.000500  4.238402e+06  5.082873e+06
max    318.523000  1.734808e+07  9.984670e+06

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, Canada to United States
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Population    7 non-null      float64
 1   GDP           7 non-null      int64
 2   Surface Area  7 non-null      int64
 3   Continent     7 non-null      object
dtypes: float64(1), int64(2), object(1)
memory usage: 280.0+ bytes

In [ ]:
df.index

Index(['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom',
       'United States'],
      dtype='object')

In [ ]:
df.columns

Index(['Population', 'GDP', 'Surface Area', 'Continent'], dtype='object')

In [ ]:
df.size

28

In [ ]:
df.shape

(7, 4)

In [ ]:
df

                Population       GDP  Surface Area Continent
Canada              35.467   1785387       9984670   America
France              63.951   2833687        640679    Europe
Germany             80.940   3874437        357114    Europe
Italy               60.665   2167744        301336    Europe
Japan              127.061   4602367        377390      Asia
United Kingdom      64.511   2950039        242495    Europe
United States      318.523  17348075       9525067   America

In [ ]:
df. loc['Canada',]

Population       35.467
GDP             1785387
Surface Area    9984670
Continent       America
Name: Canada, dtype: object

In [ ]:
df

                Population       GDP  Surface Area Continent
Canada              35.467   1785387       9984670   America
France              63.951   2833687        640679    Europe
Germany             80.940   3874437        357114    Europe
Italy               60.665   2167744        301336    Europe
Japan              127.061   4602367        377390      Asia
United Kingdom      64.511   2950039        242495    Europe
United States      318.523  17348075       9525067   America

In [ ]:
df.drop('Italy')

                Population       GDP  Surface Area Continent
Canada              35.467   1785387       9984670   America
France              63.951   2833687        640679    Europe
Germany             80.940   3874437        357114    Europe
Japan              127.061   4602367        377390      Asia
United Kingdom      64.511   2950039        242495    Europe
United States      318.523  17348075       9525067   America

In [ ]:
langs = pd.Series(
    ['canarri', 'french', 'german', 'japanese', 'english', 'english us'],
    
     index = ['Canada',
    'France',
    'Germany',
    'Japan',
    'United Kingdom',
    'United States'],
     name = 'Language',

)

In [ ]:
langs

Canada               canarri
France                french
Germany               german
Japan               japanese
United Kingdom       english
United States     english us
Name: Language, dtype: object

In [ ]:
df['asusuwe'] = langs

In [ ]:
df

,Population,GDP,Surface Area,Continent,Language,asusuwe
Canada,35.467,1785387,9984670,America,canarri,canarri
France,63.951,2833687,640679,Europe,french,french
Germany,80.940,3874437,357114,Europe,german,german
Italy,60.665,2167744,301336,Europe,NaN,NaN
Japan,127.061,4602367,377390,Asia,japanese,japanese
United Kingdom,64.511,2950039,242495,Europe,english,english
United States,318.523,17348075,9525067,America,english us,english us

In [ ]:
df.drop('asusuwe')

KeyError: ignored